.ant-form {
	// padding: 16px;
	.form-btns {
		display: flex;
		justify-content: center;
	}
}
.page {
	height: 100%;
	&.hasTree {
		background: #f0f2f5;
		display: flex;
		padding: 0;
		.ant-tree {
			width: 300px;
			padding: var(--sd);
			background: #fff;
			margin-right: var(--md);
			font-size: var(--fs);
		}
		.u-table {
			flex: 1;
		}
	}
}
.model-footer {
	display: flex;
	justify-content: center;
}
.table-action {
	display: flex;
	justify-content: space-around;
}
